<div id="register">
    <div id="login-fail" style="display: none" class="alert alert-danger"></div>
    <h1 class="welcome-register"><span class="vanlang-register" style="color: white">VAN LANG GIFTS</span></h1>
    <div class="get-password-wrap">
        <div id="notification-verify">
            <p id="user-email" style="display: none">{{email}}</p>
            {{!-- <form action="/auth/set-password?email={{email}}" method="POST"> --}}
                <h2 class="text-get-password">Lấy lại mật khẩu</h2>
                <label for="password">Mật khẩu mới:</label>
                <input type="password" id="password" name="password">
                <label for="confirmPassword">Xác thực mật khẩu:</label>
                <input type="password" id="confirmPassword" name="confirmPassword">
                <input type="submit" id="btn-change-password" value="Gửi" onclick="gotoGetPassword()">
            {{!-- </form> --}}
        </div>
    </div>
</div>

<script>
    function gotoGetPassword() {
        var userEmail = document.getElementById('user-email').innerHTML;
         $.ajax({
            url: '/auth/set-password?email=' + userEmail,
            type: 'POST',
            data: {
                password: $('#password').val(),
                confirmPassword: $('#confirmPassword').val(),
            }
        })
        .then(data => {
            if (data.message === "") {
                window.location.href = "/auth/notification3"
            } else {
                $('#login-fail').html('');
                var itemLi = $(`
                    <strong>${data.message}</strong>
                `)
                $('#login-fail').append(itemLi);
                if (data.message) {
                    var i = 0;
                    var setTime1 = function () {
                        $("#login-fail").hide();
                    }

                    var setTime = setInterval(() => {
                        i++;
                        $("#login-fail").show();
                        if (i === 30) {
                            clearInterval(setTime)
                            setTime1();
                        }
                    }, 100)
                }
            }
        })
        .catch(err => {
            console.log(err);
        })
    }
</script>