<div id="register">
    <div id="login-fail" style="display: none" class="alert alert-danger"></div>
    <h1 class="welcome-register"><span class="vanlang-register" style="color: white">VAN LANG GIFTS</span></h1>
    <div class="get-password-success-wrap">
        <div id="notification-verify">
            <h2 class="text-get-password">Lấy lại mật khẩu</h2>
            <p>Đổi mật khẩu thành công ! <a href="/auth/login">Đăng nhập</a></p>
        </div>
    </div>
</div>