<div id="register">
    <div id="login-fail" style="display: none" class="alert alert-danger"></div>
    <h1 class="welcome-register"><span class="vanlang-register" style="color: white">VAN LANG GIFTS</span></h1>
    <div class="confirm-acc-wrap">
        <div id="notification-verify">
            <h2 class="text-verify">Xác thực tài khoản</h2>
            <p>Hãy xác nhận trong tài khoản Email của bạn để hoàn thành đăng kí ! <a href="/auth/login"> Đăng nhập</a></p>
        </div>
    </div>
</div>