<div id="register">
    <div id="login-fail" style="display: none" class="alert alert-danger"></div>
    <h1 class="welcome-register"><span class="vanlang-register" style="color: white">VAN LANG GIFTS</span></h1>
    <div class="register-wrap">
        <h2 class="text-login">ĐĂNG KÍ</h2>
        <div class="form-group-register">
            <label class="label-register" for="exampleInputEmail1">Email</label>
            <input type="text" class="form-control" id="email" placeholder="VD: email@domain.com">
        </div>
        <div class="form-group-register">
            <label class="label-register" for="exampleInputEmail1">Tên đăng nhập</label>
            <input type="text" class="form-control" id="username" placeholder="Điền tên đăng nhập (ít nhất 6 kí tự)">
        </div>
        <div class="form-group-register">
            <label class="label-register" for="exampleInputPassword1">Mật khẩu</label>
            <input type="password" class="form-control" id="password" placeholder="Điền mật khẩu (ít nhất 6 kí tự)">
        </div>
        <div class="form-group-register mb-10">
            <label class="label-register" for="exampleInputPassword1">Xác nhận mật khẩu</label>
            <input type="password" class="form-control" id="confirmPassword" placeholder="Xác nhận mật khẩu">
        </div>
        <button type="submit" class="btn-login btn-register btn-primary" id="buttonEnter" onclick="gotoRegister()">Đăng kí</button>
    </div>
</div>


<script>
    function gotoRegister() {
        $.ajax({
            url: '/auth/register',
            type: 'POST',
            data: {
                username: $('#username').val(),
                password: $('#password').val(),
                confirmPassword: $('#confirmPassword').val(),
                email: $('#email').val(),
            }
        })
            .then(data => {
                if (data.message === "") {
                    window.location.href = "/auth/notification"
                } else {
                    $('#login-fail').html('');
                    var itemLi = $(`
                        <strong>${data.message}</strong>
                    `)
                    $('#login-fail').append(itemLi);
                    if (data.message) {
                        var i = 0;
                        var setTime1 = function () {
                            $("#login-fail").hide();
                        }

                        var setTime = setInterval(() => {
                            i++;
                            $("#login-fail").show();
                            if (i === 30) {
                                clearInterval(setTime)
                                setTime1();
                            }
                        }, 100)
                    }
                }
            })
            .catch(err => {
                console.log(err);
            })
    }
</script>