<div id="introduce-container">
    <div id="introduce-wrapper">
        <p>Cảm ơn bạn đã tham gia cộng đồng Văn Lang Gifts. Hãy cùng chúng tôi trao tặng những món quà ý nghĩa đến với mọi người.</p>
        <p>Van Lang Gifts ra mắt vào ngày 11/4/2022. Giúp cho tất cả các bạn sinh viên Văn Lang có thể chia sẻ,
        trao đổi các món đồ đã qua sử dụng với nhau, cùng nhau xây dựng một môi trường giao lưu, hỗ trợ thân thương.
        </p>
        <img src="/public/img/moqua.png" alt=""/>
    </div>
</div>