<section id="footer">
    <img src="https://www.nicepng.com/png/detail/134-1347071_big-gift-box-vector-white-gift-box-logo.png"
        class="footer-img" alt="footer image">
    <div class="title-text-footer">
        <p>ABOUT US</p>
        <h1>VAN LANG GIFTS</h1>
    </div>
    <div class="footer-row">
        <div class="footer-left">
            <h1>Founding Date</h1>
            <p><i class="fa fa-clock-o"></i>Monday 11th April 2022</p>
            <p><i class="fa fa-users"></i>Team 6</p>
        </div>
        <div class="footer-right">
            <h1>Get In Touch</h1>
            <p>Duong Quang Ham, Ho Chi Minh City<i class="fa fa-map-marker"></i></p>
            <p>vanlanggifts@website.com<i class="fa fa-paper-plane"></i></p>
            <p>+01 12345 9999<i class="fa fa-phone"></i></p>
        </div>
    </div>

    <div class="social-links">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-youtube-play"></i>
        <p>Copyright &#169 2022 VanLangGifts</p>
    </div>
</section>